<h1>LINQ => JavaScript</h1>

@section script {
    <script src="~/api/script/math"></script>
    <script>
        var total = sum(16, 32);
        var quotient = divide(3, 4);

        console.log('The sum total is ' + total);
        console.log('The divide quotient is ' + quotient);
    </script>
}